BOT_ID=52d2564b-88c4-4f4b-b234-9a3146b80436
BOT_PASSWORD=zpj8Q~W962.Mx9PewzKPJO6H0Zp4hESVEQsZQbhN
BOT_TYPE=MultiTenant
SHOW_DEBUG_DESKTOP_CLIENT_WIZARD=false


DIFY_API_KEY=app-XXXXXXXXXXXXXXXXXXXX
DIFY_ENDPOINT=https://api.dify.ai/v1

LANGGRAPH_API_KEY=
LANGGRAPH_ENDPOINT=http://localhost:2024
LANGGRAPH_ASSISTANT_ID=agent